/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
    border-block-color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: rgb(38, 175, 255);
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(252, 141, 77);
}

.navbar {
    margin-bottom: 2rem;
}


