/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: rgb(56, 102, 201);
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(49, 114, 255);
}

.navbar {
    margin-bottom: 1rem;
}

